body{
    text-align: center;
}
.sam{
    display:flex;
}
.ham{text-align: left;}

.sticker{
        display: flex;
        margin-left: 400px;
        text-align: center;
}
.btn1{
    color: azure;
    background-color:darkcyan;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
}
.btn2{
    color: azure;
    background-color:rgb(113, 104, 168);
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
}
.engines{
    display: flex;
    margin-left: 400px;
    text-align: center;


}
.btn3{
    color: azure;
    background-color:darkcyan;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
}
.btn4{
    color: azure;
    background-color:rgb(113, 104, 168);
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
}
footer{
height:200px;
width: auto;

font-family: Georgia, 'Times New Roman', Times, serif;
border: none;

}
.foot{
    display: flex;
    text-align:inline;
}
.social{

    display: flex;
}header{
background-image: url('/images/bg-header-desktop.png');
}